<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_DisableMediaRemoval>
            <version>1.0.0</version>
        </Ambimax_DisableMediaRemoval>
    </modules>
    <global>
        <blocks>
            <ambimax_disablemediaremoval>
                <class>Ambimax_DisableMediaRemoval_Block</class>
            </ambimax_disablemediaremoval>
        </blocks>
        <helpers>
            <ambimax_disablemediaremoval>
                <class>Ambimax_DisableMediaRemoval_Helper</class>
            </ambimax_disablemediaremoval>
        </helpers>
        <models>
            <ambimax_disablemediaremoval>
                <class>Ambimax_DisableMediaRemoval_Model</class>
                <resourceModel>ambimax_disablemediaremoval_resource</resourceModel>
            </ambimax_disablemediaremoval>
            <catalog_resource>
                <rewrite>
                    <product_attribute_backend_media>Ambimax_DisableMediaRemoval_Model_Resource_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog_resource>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ambimax_DisableMediaRemoval>
                    <files>
                        <default>Ambimax_DisableMediaRemoval.csv</default>
                    </files>
                </Ambimax_DisableMediaRemoval>
            </modules>
        </translate>
    </adminhtml>
</config>
